<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amtechventures.tucita" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
       android:name="com.parse.APPLICATION_ID"
            android:value="@string/app_parse_id" />
        <meta-data
         android:name="com.parse.CLIENT_KEY"
         android:value="@string/client_parse_id" />
        <activity android:name=".activities.splash.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.login.LoginActivity" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activities.signup.SignUpActivity" >
        </activity>
        <activity android:name=".activities.account.AccountActivity" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="bdc2bab408011afda99f5bc67d47cd792679dd64" />

        <activity android:name=".activities.main.fragments.search.advanced.AdvancedSearchActivity" >
        </activity>
        <activity android:name=".activities.main.MainActivity" >
        </activity>
        <activity android:name=".activities.book.BookActivity" >
        </activity>
    </application>

</manifest>
